
<button type="button" routerLink='' class="btn">Voltar</button>

<div class="row"  *ngFor="let item of data">
    <div class="col-md-6">
        <div class="well well-sm">
            <div class="row">
                
                <div class="col-xs-9 col-md-9 section-box">
                    <h2>
                        {{item.name}} 
                    </h2>
                    <p>
                        <a
                        [href]=item.html_url
                        target="_blank"
                        rel="noreferrer"
                    >
                       Ver projeto? clique aqui!</a></p>
                    <hr />
                    <div class="row rating-desc">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                            </span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                            </span><span class="glyphicon glyphicon-heart"></span>{{item.forks_count}} Forks<span class="separator">|</span>
                            <span class="glyphicon glyphicon-comment"></span>{{item.stargazers_count}} Estrelas
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
