<div class="block">
    <ul>    
            <li> //id
                    <h1>repo.name</h1>
                    <div class="desc-link">
                        <span>
                            repo.description
                        </span>
                        <a
                            href=repo.html_url
                            target="_blank"
                            rel="noreferrer"
                        >
                           
                        </a>
                    </div>
                    <div class="fork-star">
                         repo.forks_count
                       repo.stargazers_count
                    </div>
                </li>
            
      
    </ul>
</div>